<form (submit)="onSubmit($event)">
  <p>
    Name:
    <input
      type="text"
      name="name"
      [value]="user.name"
      (input)="user.name = $event.target.value"
    />
  </p>
  <p>
    email:
    <input type="email" name="email" [value]="user.email" 
    (input)="user.email = $event.target.value"/>
  </p>
  <p>
    Phone:
    <input type="tel" name="phone" [value]="user.phone" 
    (input)="user.phone = $event.target.value"
    />
  </p>
  <p>
    <button>Enregistrer {{ user.name }}</button>
  </p>
</form>
